@media screen and (min-width: 300px) {
  * {
    box-sizing: border-box;
  }
  body {
    height: 100%;
    margin: 0;
    font-family: Hind, sans-serif;
    color: #fff;
    background-color: #042825;
  }
  header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #042825;
  }
  .nav {
    display: flex;
    align-items: baseline;
    margin: 0 30px;
    padding: 10px 0 15px 0;
    border-bottom: 2px solid #fff;
  }

  .about-me div {
    text-align: center;
  }

  .about-me div img {
    width: 75px;
    margin-right: 10px;
    border-radius: 100px;
  }

  .home-link {
    margin: 10px 10px 15px 0;
    padding-bottom: 5px;
    font-family: Montserrat, sans-serif;
    color: #fff;
    border-bottom: 3px solid #fff;
  }
  .home-link:visited {
    color: #fff;
  }
  section {
    margin: 60px 20px;
    padding: 0 10px 10px 10px;
    line-height: 2em;
  }
  .bloc-projects {
    display: none;
  }
  .about-me {
    display: none;
    margin-top: 30%;
  }
  h2 {
    margin-top: 0;
    font-family: Hind, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
  }
  .main-wrap p {
    margin: 20px 0 20px 0;
    letter-spacing: 0.8px;
    font-size: 0.9em;
  }

  .main-page {
    margin-top: 30%;
  }
  .contact-me,
  .links,
  .project-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button {
    display: inline-block;
    width: 30%;
    margin: 10px;
    text-align: center;
    font-size: 0.8em;
    font-weight: 700;
    color: #042825;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    cursor: pointer;
  }

  .button:hover {
    display: inline-block;
    width: 30%;
    margin: 10px;
    text-align: center;
    font-size: 0.8em;
    font-weight: 700;
    color: white;
    background-color: #042825;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
  }
  a:link {
    text-decoration: none;
  }

  .nav-link-container {
    flex: 1;
    text-align: right;
  }
  .nav-link {
    margin-right: 10px;

    color: #fff;
  }
  .nav-link:visited {
    color: #fff;
  }
  .project-container {
    display: flex;
    flex-direction: column;
    margin: 90px 0;
    opacity: 1;
  }

  #app,
  .img-container,
  .project-desc {
    width: 100%;
    margin-bottom: 10px;
  }
  .project-desc {
    width: 100%;
  }
  .project-desc h3 {
    margin: 0;
    border-bottom: 1px solid #fff;
  }
  .project-desc p {
    margin: 15px 0;
    font-size: 0.8em;
    letter-spacing: 0.8px;
  }
  .tech-icons {
    margin: 0;
    display: inline;
    list-style: none;
  }
  .tech-icons li {
    float: left;
    margin-top: 5px;
    padding: 5px 5px 5px 0;
    color: #fff;
  }

  .tech-txt {
    font-size: small;
  }
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #042825;
  }
  .foot-wrap {
    margin: 0 30px;
    border-top: 2px solid #fff;
  }
  .foot {
    text-align: center;
  }
  .foot ul {
    padding: 0;
  }
  .icons li {
    display: inline;
    padding: 10px;
    font-size: 18pt;
  }
  i {
    color: #fff;
  }
}

@media screen and (min-width: 768px) {
  .home-link {
    font-size: 32px;
  }

  .nav-link {
    font-size: 20px;
  }

  .main-page p,
  .about-me p {
    max-width: 400px;
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
  }
  .bloc-projects {
    margin-top: 20%;
  }
  x .links {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1024px) {
  .nav-link {
    font-size: 2.1vmax;
  }
  .home-link {
    font-size: 2.1vmax;
  }

  .bloc-projects {
    margin-top: 10%;
  }

  .main-page p,
  .about-me p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .links {
    max-width: 400px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .contact-me {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .project-container {
    flex-direction: unset;
  }

  .projects-wrap {
    padding: 0 60px;
  }

  #app {
    width: 80%;
  }

  .main-page {
    margin-top: 20%;
  }

  .about-me {
    margin-top: 15%;
  }

  .main-page p {
    margin-top: 20%;
    text-align: center;
  }
  .about-me p {
    margin-top: 1%;
  }

  .contact-me {
    margin-top: 30px;
  }

  .about-me div img {
    width: 175px;
  }

  .fa-linkedin:hover,
  .fa-github:hover {
    color: #042825;
    font-size: 30px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
  }
}
